.brand {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 0.5rem;
  letter-spacing: -0.03em;
}

footer {
  align-items: flex-end;
  display: flex;
  padding: 1rem 1.5rem;
}

footer .layer-inset {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  max-width: unset;
}

footer p {
  color: var(--color-half);
  font-size: 0.875rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
