:root {
  --space-clamp: clamp(1.5rem, 3vw, 2rem);
}

.fill {
  flex: 1;
}

.layer-inset {
  max-width: 80rem;
}

.logo {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  gap: 0.5rem;
  letter-spacing: -0.06em;
}

.logo i {
  font-size: 2rem;
}

header {
  min-height: 4.5rem;
}

footer a {
  color: var(--color-half);
}

footer a:hover {
  color: var(--color-darker);
}

footer .layer-inset > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer p {
  font-size: inherit;
}

#hero {
  height: 50vh;
  position: relative;
}

#hero-bg {
  inset: 0;
  position: absolute;
  z-index: -2;
}

#hero-fade {
  background: linear-gradient(transparent, var(--color-lightest));
  bottom: 0;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.know {
  color: var(--color-half);
}

.row {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
